[Oo]bj
[Bb]in
Build
packages
*.user
*.suo
*.[Cc]ache
*.ncb
*.log
*.log.*
*.orig
*.swp
*.rej
*.DS_Store
*.ncrunchproject
*.ncrunchsolution
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Cc]lient[Bb]in
log.Quantium.*.txt.*
log.Quantium.*.txt
*.Publish.xml
TestResult.xml
MCN.VisualState.xml
Draftsman.VisualState.xml
Publish
CommonAssemblyInfo.cs
[Oo]utput.txt
Backups/*.bak
desktop.ini
TestResults/*
*.js.map
*.css.map
[Bb]ootstrapper.d.ts
[Bb]ootstrapper.js
**/Quantium.eCI.Portal/Content/Site*.css
**/test/Quantium.eCI.Portal.Client.Tests/Scripts/Tests/**/*.js
Tests/ClientUITests/Quantium.eCI.Portal.Client.UI.Server/dist/**/*
Tests/ClientUITests/Quantium.eCI.Portal.Client.UI.Tests/dist/**/*
Tests/ClientUITests/Quantium.eCI.Portal.Client.UI.Tests/reports/**/*
node_modules/
_Chutzpah.*.*.js
_Chutzpah.*.*.html
**/Quantium.eCI.Portal/Registry.js
**/Quantium.eCI.Portal/Registry.min.js
**/Quantium.eCI.Portal/Content/Draftsman/Less/*.css
**/Quantium.eCI.Portal/Content/Styles/Less/*.css
# links made by InitializeRepo.cmd
SlnDir
# Visual Studio test runner playlists
*.playlist
Tests/Quantium.E2E.Test/Quantium_Automation/packages.config
Tests/Quantium.E2E.Test/Quantium_Automation/Quantium_Automation.fsproj
Tests/ClientUITests/Quantium.eCI.Portal.Client.UI.Server/es5test/**/*.*
SonarQubeTemp
CI/dotcover
CI/dotCover.html
.vs/*
Tests/ClientUITests/**/typings
Tests/ClientUITests/Quantium.eCI.Portal.Client.UI.Tests/reports
**/.idea/**/*.*
**/PerformanceTests/target/**/*.*
zincCache
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
### Scala template
*.class
*.log
tmp/
metastore_db/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea